// Header module
.header {
  background-color: map-get($colors, primary);
  margin: -35px;
  padding: 18px;
  width: 100%;
  h1 {
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 2px;
    color: map-get($colors, ui-light);
    display: block;
    margin-left: 82px;
    @include phone {
      font-size: 35px;
      margin-left: 52px;
    }
  }
}
