// Lists module.
ul,
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-remaining {
  margin-left: 66px;
  @include phone {
    margin-left: 39px;
  }
  p {
    display: inline-block;
    color: map-get($colors, darkgray);
    margin-right: 20px;
    @include phone {
      font-size: 15px;
    }
  }
}

.add-todo-input {
  font-size: 20px;
  border: 2px solid map-get($colors, lightgray);
  border-radius: 5px;
  padding: 10px;
  width: 55%;
  margin-left: 20%;
  margin-top: 5%;
  color: map-get($colors, darkgray);
  @include phone {
    font-size: 15px;
  }
}

.add-todo-input::placeholder {
  color: map-get($colors, gray);
}
