// Todo module.
.todo {
  cursor: pointer;
  color: map-get($colors, darkgray);
  font-size: 25px;

  &--status-complete {
    text-decoration: line-through;
    color: map-get($colors, gray);
  }

  &--filtered {
    display: none;
  }
}

ul {
  width: 80%;
  margin: 30px auto 0;
  padding: 10px;
}

li {
  display: grid;
  grid-template-columns: 10% 66% 12% 12%;
  column-gap: 3px;
  padding: 10px 20px;
  margin: 5px 0;
}
